{% extends 'layout.html' %}

{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <div id="tv_watching_tab" class="nav-link active" style="color:black;" aria-current="page">Watching</div>
      </li>
      <li class="nav-item">
        <div id="tv_planned_tab" class="nav-link" style="color:white;">Planned to Watch</div>
      </li>
      <li class="nav-item">
        <div id="tv_completed_tab" class="nav-link" style="color:white;">Completed</div>
      </li>
      
    </ul>
    <div style="background-color: white;">
      <div id="watching_div">
        <table class="table table-striped table-success">
          <thead>
            <tr>
              <th scope="col">TV Show Name</th>
              <th scope="col">Genres</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
          {% for tv in tv_watching %}
            <tr>
              <th scope="row" class = "watchlist_media_name">
                <a href="/media/tv/{{tv.tv_id}}/" style="color:black;">{{tv.tv_name}}</a>
                <img class = "watchlist_poster" src="{{tv.backdrop_url}}">
              </th>
              <td>
                {% for genre in tv.tv_genre.all %}
                  {% if forloop.last %}
                    {{genre.genre}}
                  {% else %}
                    {{genre.genre}},&nbsp;
                  {% endif %}
                {% endfor %}
              </td>
              <td class="watchlist_score">
                {% for review in tv_reviews %}
                  {% if review.tv_id == tv.tv_id %}
                    {{review.score}}/10
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div hidden id="planned_div">
        <table class="table table-striped table-success">
          <thead>
            <tr>
              <th scope="col">TV Show Name</th>
              <th scope="col">Genres</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
          {% for tv in tv_planned_watching %}
            <tr>
              <th scope="row" class = "watchlist_media_name">
                <a href="/media/tv/{{tv.tv_id}}/" style="color:black;">{{tv.tv_name}}</a>
                <img class = "watchlist_poster" src="{{tv.backdrop_url}}">
              </th>
              <td>
                {% for genre in tv.tv_genre.all %}
                  {% if forloop.last %}
                    {{genre.genre}}
                  {% else %}
                    {{genre.genre}},&nbsp;
                  {% endif %}
                {% endfor %}
              </td>
              <td class="watchlist_score">
                {% for review in tv_reviews %}
                  {% if review.tv_id == tv.tv_id %}
                    {{review.score}}/10
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div hidden id="completed_div">
        <table class="table table-striped table-success">
          <thead>
            <tr>
              <th scope="col">TV Show Name</th>
              <th scope="col">Genres</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
          {% for tv in tv_watched %}
            <tr>
              <th scope="row" class = "watchlist_media_name">
                <a href="/media/tv/{{tv.tv_id}}/" style="color:black;">{{tv.tv_name}}</a>
                <img class = "watchlist_poster" src="{{tv.backdrop_url}}">
              </th>
              <td>
                {% for genre in tv.tv_genre.all %}
                  {% if forloop.last %}
                    {{genre.genre}}
                  {% else %}
                    {{genre.genre}},&nbsp;
                  {% endif %}
                {% endfor %}
              </td>
              <td class="watchlist_score">
                {% for review in tv_reviews %}
                  {% if review.tv_id == tv.tv_id %}
                    {{review.score}}/10
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    

        
    {% endif %}
{% endblock %}